<!DOCTYPE html>
<html>
<head>
    <title>Поиск</title>
    {{> head}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" /><div class="container">
</head>
<body>
<div class="container">
    <p>
    <div>
        <a href="/login">
            <button class="btn btn-primary btn-lg">Log In</button>
        </a>
        <a href="/signup">
            <button class="btn btn-info btn-lg">Sign Up</button>
        </a>
    </div>
    </p>
    <div class="jumbotron">
        <h3>Бронирование автобусов</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="from" class="col-sm-2 control-label">Станция отправления</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="from">
                    </div>
                </div>
                <div class="form-group">
                    <label for="to" class="col-sm-2 control-label">Станция прибытия</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="to">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="bus-name">От</label>
                            <div class='input-group date datetimepicker'>
                                <input type='text' class="form-control start-date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="bus-name">До</label>
                            <div class='input-group date datetimepicker'>
                                <input type='text' class="form-control end-date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-11">
                        <button class="btn btn-default search-btn">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="buses-list-container">
            </div>
        </div>
    </div>
</div>
</body>
{{> cdns}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<script>
    (function ($) {
        $('.datetimepicker').datetimepicker({
            // minDate: moment(),
            ignoreReadonly: true,
            showTodayButton: true,
            format: 'YYYY-MM-DD HH:mm:ss'
        });
        var generateBusesList = function (info) {
            info.forEach(function(item) {
                $('.buses-list-container').append(
                `<div class="bus-item">
                    <ul>
                        <li><b>Название автобуса: </b>${item.name}</li>
                        <li><b>Маршрут: </b>${item.comb_from} - ${item.comb_to}</li>
                        <li><b>Время отправленя: </b>${moment(item.start_date).format('YYYY-MM-DD HH:mm:ss')}</li>
                        <li><b>Время прибытия: </b>${moment(item.end_date).format('YYYY-MM-DD HH:mm:ss')}</li>
                        <a href="http://localhost:3000/bus/?id_bus=${item.id_bus}&id_comb=${item.id_comb}">Бронировать</a>
                    </ul>
                </div>`
                )
            })
        };
        $('.search-btn').on('click', function (e) {
            e.preventDefault();
            $('.bus-item').remove();
            var data = {
                comb_from: $('#from').val(),
                comb_to: $('#to').val(),
                start_date: $('.start-date').val(),
                end_date: $('.end-date').val(),
            };
            if (data.comb_from.length && data.comb_to.length && data.start_date.length && data.end_date.length) {
                $.ajax({
                    url: 'http://localhost:3000/api/v1/bus/?comb_from='+data.comb_from+'&comb_to='+data.comb_to+'&start_date='+data.start_date+'&end_date='+data.end_date,
                    contentType: 'application/json',
                    dataType: 'json',
                    type: 'GET',
                    success: function(data) {
                        if (data.combinations.length) {
                            generateBusesList(data.combinations)
                        } else{
                            alert('Нет подходящих маршрутов');
                        }
                    },
                    error: function (jqXHR, exception) {
                    	alert('Сервер не может найти подходящий маршрут');
                        console.log(jqXHR, exception);
                    }
                });
            } else {
                console.error('One of the fields is empty')
            }
        })
    }($));
</script>
</html>
