<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {{> head}}
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Подтверждение покупки места прошло успешно</h1>
    </div>
</div>
</body>
</html>
